div {
    height: 100px;
    width: 100px;
    background-image: url("./cat_photo.jpg");
    background-color: pink;
    background-size: cover;
    color: black;
    position: fixed;
    right: 0px;
}